<body>
    <div class="container">
        <div id="navMenu" class="diamond">
            <div id="mainRotCorrect" style=" margin: 0px; display: flex; justify-content: center; align-items: center;" class="rotCorrect">
                <img src="assets\img\sopassos.png" class="full">
            </div>
        </div>
        <div id="nav1" class="nav small nav1 diamond">
            <div class="rotCorrect center" (click)="goProdutos()">
                <img src="assets\img\gift.png" class="menu">
            </div>
        </div>
        <!--<div class="popUp">Home</div>-->
        <div id="nav2" class="nav small nav2 diamond">
            <div class="rotCorrect center" (click)="goCalendar()">
                <img src="assets\img\calendar.png" class="menu">
            </div>
        </div>
        <div id="nav3" class="nav small nav3 diamond">
            <div class="rotCorrect center">
                <img src="assets\img\checkout.png" class="menu">
            </div>
        </div>
        <div id="nav4" class="nav small nav4 diamond">
            <div class="rotCorrect center">
                <img src="assets\img\login.png" class="menu">
            </div>
        </div>
        <div id="nav5" class="nav small nav5 diamond">
            <div class="rotCorrect center" (click)="goEditar()">
                <img src="assets\img\settings.png" class="menu">
            </div>
        </div>
    </div>
</body>